/*
 * Main
 * 
 */

.svg-circles {
  width: 30px;
  margin: 0 auto 20px auto;
  display: block;

  path { fill: #A9B3CC; }
}

.main {
  .make-xs-column(12);
  
  @media (min-width: @screen-sm) {
    float: none;
    padding: 40px;
  }
}

.main-container {
  margin: 60px auto 0;
  max-width: 700px;
}
