.container.main
	.row
		.content.align-center
			.page-header
				h1 Jeremy Mouton
				span Front-end developer at 
					a(href="http://aspendigital.com") Aspen Digital 
					| in Salt Lake City, Utah.


			ul.inline.social
				li: a(href="#{twitter}") Twitter
				li: a(href="#{github}") Github
				li: a(href="#{linkedin}") Linkedin

			#latest_track
