/*
 * Variables
 * 
 */

@bower_components: '../../bower_components';
@fontPath: '../fonts';


/* Colors */

@primary-text-color:   #50647D;
@secondary-text-color: #B4C1C6;
@callout-text-color:   #05b9da;
