/*
 * Variables
 * 
 */

@bower_components: '../../bower_components';
@fontPath: '../fonts';
@fontPath: '../fonts';


/* Colors */

@primary-text-color:   #555A65;
@secondary-text-color: lighten(@primary-text-color, 10%);
@callout-text-color:   #05b9da;

@sidebar-width: 300px;