// ======================
// Project: jeremymouton.com
// Author: Jeremy Mouton
// ======================

@bower_components: '../components';
@fontPath: '../fonts';

// ======================
// COMPONENTS

// ======================
// Bootstrap

@import (reference) "@{bower_components}/bootstrap/less/variables.less";
@import (reference) "@{bower_components}/bootstrap/less/mixins.less";
@import "@{bower_components}/bootstrap/less/normalize.less";
@import "@{bower_components}/bootstrap/less/print.less";
@import (reference) "@{bower_components}/bootstrap/less/grid.less";


// ======================
// Fonts

// Montserrat
// Light, Regular, Bold

@font-face {
  font-family: 'montserratbold';
  src: url('@{fontPath}/montserrat-bold-webfont.eot');
  src: url('@{fontPath}/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('@{fontPath}/montserrat-bold-webfont.woff2') format('woff2'),
       url('@{fontPath}/montserrat-bold-webfont.woff') format('woff'),
       url('@{fontPath}/montserrat-bold-webfont.ttf') format('truetype'),
       url('@{fontPath}/montserrat-bold-webfont.svg#montserratbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

.montserrat-bold() { font-family: 'montserratbold', sans-serif; }

@font-face {
  font-family: 'montserratlight';
  src: url('@{fontPath}/montserrat-light-webfont.eot');
  src: url('@{fontPath}/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('@{fontPath}/montserrat-light-webfont.woff2') format('woff2'),
       url('@{fontPath}/montserrat-light-webfont.woff') format('woff'),
       url('@{fontPath}/montserrat-light-webfont.ttf') format('truetype'),
       url('@{fontPath}/montserrat-light-webfont.svg#montserratlight') format('svg');
  font-weight: normal;
  font-style: normal;
}

.montserrat-light() { font-family: 'montserratlight', sans-serif; }

@font-face {
  font-family: 'montserratregular';
  src: url('@{fontPath}/montserrat-regular-webfont.eot');
  src: url('@{fontPath}/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('@{fontPath}/montserrat-regular-webfont.woff2') format('woff2'),
       url('@{fontPath}/montserrat-regular-webfont.woff') format('woff'),
       url('@{fontPath}/montserrat-regular-webfont.ttf') format('truetype'),
       url('@{fontPath}/montserrat-regular-webfont.svg#montserratregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.montserrat() { font-family: 'montserratregular', sans-serif; }


// ======================
// MAIN

// ======================
// Variables

@primary-text-color: #99b2c1;
@secondary-text-color: #365362;
@callout-text-color: #05b9da;

// ======================
// Base

html,
body { font-size: 24px; }

body {
	background: #f3f5f6;
	color: @primary-text-color;
	.montserrat-light();
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	background-color: #0f1217;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAuNSUiIHgyPSI1MCUiIHkyPSItMC41MDAwMDAwMDAwMDAwMSUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZjBmM2Y1IiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZjJmNGY2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgPC9saW5lYXJHcmFkaWVudD4KCjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=);
	background-image: -moz-linear-gradient(bottom, #f0f3f5 -0.5%, #f2f4f6 100.5%);
	background-image: -o-linear-gradient(bottom, #f0f3f5 -0.5%, #f2f4f6 100.5%);
	background-image: -webkit-linear-gradient(bottom, #f0f3f5 -0.5%, #f2f4f6 100.5%);
	background-image: linear-gradient(bottom, #f0f3f5 -0.5%, #f2f4f6 100.5%);
}

a {
	color: @primary-text-color;
	text-decoration: none;
}

.container { max-width: 720px; }

.main {
	&:extend(.container);
}

// ======================
// Headings

h1 {
	font-size: 1rem;
	line-height: 120%;
	margin-bottom: 30px;
}


// ======================
// Header

.header {
	&:extend(.container);
	margin: 1.667em auto 5em auto;
}

.initials {
	.montserrat-bold();
	color: @callout-text-color;
	font-size: 30px;
	display: inline-block;
	margin-right: 50px;
}

ul.social-links {
	list-style: none;
	padding: 0;
	display: inline-block;

	li {
		display: inline-block;
		font-size: 13px;
		margin: 0 15px;

		&:first-child { margin-left: 0; }
		&:last-child  { margin-right: 0; }
	}
	
	a {
		.montserrat();
		color: @primary-text-color;
		display: inline-block;
		transition: color .2s ease;
		text-decoration: none;

		&:after {
			transition: width .2s ease;
			content: '';
			display: block;
			border-bottom: 1px @callout-text-color solid;
			width: 0;
		}

		&:hover:after { width: 100%; }
	}
}


// ======================
// Hero

.hero {
	font-size: 49px;

	@media (max-width: @screen-xs-max) {
		font-size: 32px;
	}

	h1 {
		color: @secondary-text-color;
		font-weight: normal;
		margin-bottom: 35px;
		font-size: 1em;

		span {
			display: block;
			font-size: 1.15em;
		}

		em {
			.montserrat();
			font-style: normal;
			color: @callout-text-color;
			text-transform: lowercase;
		}
	}

	p {
		font-size: 0.47em;

		@media (max-width: @screen-xs-max) {
			font-size: 0.6em;
		}
	}
}


// ======================
// Latest track

.latest-track {
	margin-top: 2rem;
	font-size: 0.5em;
	color: lighten(@primary-text-color, 5%);
	padding-bottom: 40px;
	transition: opacity .2s ease;
	opacity: 0;

	a {
		color: lighten(@primary-text-color, 5%);
		text-decoration: none;
		transition: color .2s ease;

		&:hover { color: @primary-text-color; }
	}

	&.is-visible {
		opacity: 1;
	}
}

.latest-track__artist { .montserrat-bold(); }

// ======================