/*!
 * Project: jeremymouton.com
 * Author: Jeremy Mouton
 */

/*
 * Bower Components
 *
 */

@import "_bootstrap";

/* Prism */

@import (inline) "@{bower_components}/prism-themes/themes/prism-xonokai.css";
@import "_prism-overrides";


/*
 * Base
 */

@import "_variables";
@import "_utilities";
@import "_states";
@import "_webfonts";
@import "_animations";


/*
 * Components
 *
 */

@import "_buttons";
@import "_header";
@import "_inline-nav";
@import "_recent-work";


/*
 * Styles
 * 
 */

* {
  .box-sizing(border-box);

  &:before,
  &:after { .box-sizing(border-box); }
}

html,
body { font-size: 16px; }

body {
  font-family: 'Open Sans', sans-serif;
  color: @primary-text-color;
  background-color: #fff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: @primary-text-color;
}

hr {
  border: none;
  border-bottom: 1px lighten(@secondary-text-color, 20%) solid;
  margin: 50px auto;

  @media (min-width: @screen-sm) {
    width: 60%;
  }
}

.container {
  &:extend(.container-fluid);
  max-width: 720px;
}

.m-link-underline(@color) {
  border-bottom: 1px @color solid;
  text-decoration: none;
}

.animated-link {
  text-decoration: none;

  &:after {
    content: '';
    display: block;
    .m-link-underline(@primary-text-color);
    transition: width .2s ease;
    width: 0;
  }

  &:hover:after { width: calc(100% - 2.5em); }
}


/*
 * Headings
 * 
 */

h1 { font-size: 26px; }

h2 { font-size: 22px; }

h3 { font-size: 19px; }


/*
 * Main
 * 
 */

.main {
  padding: 80px 0;
  &:extend(.u-spinner all);
}
