@@include('_blocks/_head.jade')
@@include('_blocks/_header.jade')

    main.main(role="main")
      div.container
        nav.section-menu
          ul.inline-nav
            li.section-menu__item
              a(href="/") Thoughts
            li.section-menu__item.is-active
              a(href="work") Work

        div.u-align-center
          h1 404
          p You must be messing with things because there are very few ways to end up here...
          a(href="/") Here's a way out.

@@include('_blocks/_footer.jade')
