    google-analytics#UA-4714937-19

    script(type="riot/tag" src="components/google-analytics.tag")
    script(type="riot/tag" src="components/raw.tag")
    script(type="riot/tag" src="components/blog-posts.tag")
    script(type="riot/tag" src="components/recent-work.tag")
    script(src="js/script.min.js")
