      svg(xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" width="65.1" height="65.1" viewBox="0 0 65.1 65.1" xml:space="preserve" class="svg-circles")
        path(d="M32.7 2.3c-7.9 0-14.4 6.4-14.4 14.4 0 7.9 6.4 14.4 14.4 14.4 7.9 0 14.4-6.4 14.4-14.4C47 8.7 40.6 2.3 32.7 2.3zM32.7 29c-6.8 0-12.4-5.6-12.4-12.4 0-6.8 5.6-12.4 12.4-12.4 6.8 0 12.4 5.6 12.4 12.4C45 23.5 39.5 29 32.7 29zM14.4 62.8c7.9 0 14.4-6.4 14.4-14.4 0-7.9-6.4-14.4-14.4-14.4C6.4 34.1 0 40.5 0 48.4 0 56.4 6.4 62.8 14.4 62.8zM14.4 36.1c6.8 0 12.4 5.6 12.4 12.4 0 6.8-5.5 12.4-12.4 12.4C7.6 60.8 2 55.3 2 48.4 2 41.6 7.5 36.1 14.4 36.1zM50.7 34.1c-7.9 0-14.4 6.4-14.4 14.4s6.4 14.4 14.4 14.4c7.9 0 14.4-6.4 14.4-14.4C65.1 40.5 58.6 34.1 50.7 34.1zM50.7 60.8c-6.8 0-12.4-5.5-12.4-12.4 0-6.8 5.6-12.4 12.4-12.4 6.8 0 12.4 5.6 12.4 12.4C63.1 55.3 57.5 60.8 50.7 60.8z")
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-4714937-19', 'auto');
      ga('send', 'pageview');

    script(src="./js/bundle.js")
