    header.header(role="banner")
      div.container
        h1 Hi, my name is 
          span Jeremy Mouton

        ul.inline-nav
          li
            a(href="#{twitterUrl}" target="_blank") Twitter
          li
            a(href="#{githubUrl}" target="_blank") Github
          li
            a(href="#{linkedinUrl}" target="_blank") Linkedin

        p I'm a frontend developer living in Salt Lake City, Utah.